<% if @restaurants.any? %>
<% p @restaurants %>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <p> <%= restaurant.description %></p>
    <p><%= link_to "Edit #{restaurant.name}", edit_restaurant_path(restaurant) %></p>
    <% end %>
  <% else %>
    <h1>No Restaurants yet</h1>
  <% end %>

<a href='/restaurants/new'>Add a restaurant</a>
