<% if @restaurants.any? %>
<% p @restaurants %>
  <% @restaurants.each do |restaurant| %>
    <h2><%= link_to restaurant.name, restaurant_path(restaurant) %></h2>
    <% end %>
  <% else %>
    <h1>No Restaurants yet</h1>
  <% end %>

<a href='/restaurants/new'>Add a restaurant</a>
